
<!-- Quem Somos -->
<section class="quemsomos bg-color">
  <div class="container">
    <h2><strong>Quem Somos</strong></h2>
    <p>
      Comprar ou vender um veículo não é tarefa simples, principalmente para
      quem não tem tempo ou segurança para vistoriar, anunciar, negociar e
      resolver todas as questões burocráticas.
    </p>
    <p>
      Para solucionar esses problemas, a <strong>SeuCarroFácil</strong> nasceu
      com o propósito de assessorar clientes na hora de comprar ou vender o seu
      veículo. Aqui nós cuidamos de tudo para que você possa fazer a melhor
      escolha e o melhor negócio!
    </p>

    <h3 class="mt-4"><strong>Sobre a Empresa</strong></h3>
    <p>
      A <strong>SeuCarroFácil</strong> é uma inovadora assessoria automotiva que
      surgiu para oferecer soluções práticas para quem deseja comprar ou vender
      um veículo.
    </p>
    <p>
      Realizamos toda a execução comercial, iniciando o processo com a
      identificação do perfil e necessidade do cliente, levantamento das
      melhores oportunidades e preços, negociações, documentações e entrega do
      veículo. Possuímos parcerias com despachantes, corretores de seguros,
      transportadoras e auto centers.
    </p>
    <p>
      Conforto, qualidade, segurança e economia são essenciais. Compartilhamos
      nossa experiência e conhecimento do mercado automotivo, com o objetivo de
      gerar as melhores oportunidades de negócios aos nossos clientes.
    </p>

    <h3 class="mt-4"><strong>Experiência</strong></h3>
    <p>
      Engenheiro mecânico formado pela Universidade Federal de Viçosa e Institut
      National Polytechnique de Lorraine (França), Bruno Tavares participou por
      4 anos de diversos projetos e construções de protótipos automotivos
      durante o período de graduação.
    </p>
    <p>
      Trabalhou no ITA (Instituto Tecnológico de Aeronáutica), servindo à
      General Motors em projetos de Pesquisa & Desenvolvimento. Também adquiriu
      experiência em uma renomada oficina mecânica na área de competição e
      manutenção de veículos antigos e premium.
    </p>
    <p>
      Um apaixonado por automóveis desde sempre! Há mais de 15 anos assessorando
      todos ao seu redor quando o assunto é carros. Utilizando-se deste
      conhecimento e paixão, nasceu então a SeuCarroFácil!
    </p>
  </div>
</section>
