<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/img/logo.png" class="logo" />
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <ul>
          <li>
            <a
              (click)="openModal('assessoria-compra-completa')"
              href="#assessoria-compra-completa"
              >Assessoria Completa de Compra</a
            >
          </li>
          <li>
            <a href="#assessoria-venda-completa"
              >Assessoria Completa de Venda</a
            >
          </li>
          <li>
            <a href="#assessoria-compra-parcial"
              >Assessoria Parcial de Compra</a
            >
          </li>
          <li>
            <a href="#assessoria-venda-parcial">Assessoria Parcial de Venda</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <ul>
          <li><a href="#assessoria-pre-compra">Assessoria de Pré-compra</a></li>
          <li><a href="#assessoria-decisao">Assessoria em Decisão</a></li>
          <li><a href="#catalogo">Venda de veículos em nosso catálogo</a></li>
        </ul>
      </div>
      <!--div class="footer-column about">
        <p>
          Award-winning, family owned dealership of new and pre-owned vehicles
          with several locations across the city. Lowest prices and the best
          customer service guaranteed.
        </p>
      </div-->
      <div class="footer-column contact">
        <p class="phone"><span>(11)</span> 99702-9738</p>
        <p>
          <a href="mailto:contato@seucarrofacil.com"
            >contato@seucarrofacil.com</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      Copyright © 2025. Todos direitos reservados. Desenvolvido por
      <a target="_blank" href="https://www.upsee.com.br">Upsee</a>
    </p>
    <div class="socials">
      <a target="_blank" href="https://www.facebook.com/seucarrofacil/">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a
        target="_blank"
        [href]="'https://api.whatsapp.com/send?phone=5511997029738&' + message"
      >
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
      <a target="_blank" href="https://www.instagram.com/seucarrofacil">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </div>
</footer>
<div class="card flex justify-center">
  <div class="card flex justify-center">
    <p-dialog
      header=""
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="false"
    >
      <h1><strong>ASSESSORIA COMPLETA NA COMPRA DE SEU VEÍCULO.</strong></h1>
      <h4>
        DA ENTREVISTA PARA UM PERFIL AUTOMOTIVO ÀS CHAVES EM SUAS MÃOS, UM
        SERVIÇO REALMENTE COMPLETO. VOCÊ NÃO PRECISA SE PREOCUPAR COM NADA.
      </h4>
      <p>
        Inicialmente, faremos uma rápida entrevista para traçarmos o que
        chamamos de “Perfil Automotivo” do cliente. Analisaremos fatores como
        valor a ser investido, uso do carro, valores pretendidos com
        combustível, seguro, manutenção, etc. Em seguida, usaremos uma
        metodologia para encontrar o modelo correto para seu perfil.
        Apresentando alguns comparativos, constando os prós e contras de cada
        veículo, opcionais, etc. Após a decisão, iremos atrás do automóvel ideal
        para o cliente. Nessa etapa, procuraremos por um veículo na melhor
        condição e preço possível, averiguando toda a procedência do veículo,
        como avaliação de detalhes estéticos, documentação, mecânica, históricos
        de leilão, sinistros, funilarias realizadas, etc. Após acharmos o
        veículo ideal, auxiliaremos com o que for preciso. E acompanharemos
        pessoalmente a entrega do mesmo. É importante ressaltar que nós não
        interferimos no valor da compra: o valor negociado com o vendedor, será
        o valor que você pagará, e nosso serviço será cobrado à parte.
      </p>
    </p-dialog>
  </div>
</div>
