<nav class="navbar bg-color">
  <div class="navbar-container">
    <div class="logo">
      <img src="assets/img/logo.png" alt="Logo" />
    </div>

    <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
      <i class="pi" [ngClass]="isMenuOpen ? 'pi-times' : 'pi-bars'"></i>
    </button>

    <div class="nav-links" [class.active]="isMenuOpen">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#search">Buscar</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
