@use "src/styles" as *; // Import the global SCSS file

:host ::ng-deep .p-menubar {
  border: none;
  padding: 0.8rem 2rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 98.9%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-color: $background-color;
}

:host ::ng-deep .p-menubar .p-menuitem-link {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: #ffc107; // theme color
  }
}

.logo img {
  width: 10rem;
  height: auto;
}

:host ::ng-deep {
  .p-menuitem {
    border: none !important;
    color: white !important;

    .p-menuitem-icon {
      color: white !important;
    }

    .p-menuitem-text {
      color: white !important;
    }

    /* 🔹 cor de fundo ao passar o mouse */
    &:hover {
      background-color: $theme-color !important; // ou #f0c330 se preferir fixo
      color: #000 !important;

      .p-menuitem-icon,
      .p-menuitem-text {
        color: #000 !important;
      }
    }
  }

  /* 🔹 estado ativo no modo mobile (menu aberto) */
  .p-menubar-mobile-active {
    background-color: $background-color !important;
  }
}

:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list {
  background: $background-color !important;
}
