.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.large{
  width: 8rem;
  height: 8rem;
  position: absolute;
}

.small{
  width: 2rem;
  height: 2rem;
  position: absolute;

}

.medium{
  width: 4rem;
  height: 4rem;
  position: absolute;
}
