<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h2>ASSESSORIA COMPLETA NA COMPRA OU VENDA DE SEU VEÍCULO.</h2>
    <p>Compre ou venda seu automóvel com a gente!</p>
    <a href="#servicos" class="btn">Conheça nossos serviços</a>
  </div>
</section>

<!-- Serviços -->
<section id="servicos" class="servicos">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <h3>Escolha qual o plano ideal para você e entre em contato!</h3>

    <div class="servico-bloco">
      <h3>Quer vender?</h3>
      <div class="cards">
        <div class="card">
          <h4>Assessoria Completa de Venda</h4>
          <p>
            Fotografamos, anunciamos, atendemos possíveis compradores, fechamos
            negócio, fazemos toda a documentação e você recebe o valor em sua
            conta!
          </p>
        </div>

        <div class="card">
          <h4>Assessoria Parcial de Venda</h4>
          <p>
            Envie as fotos e detalhes de seu veículo para nossa plataforma e nós
            vendemos seu veículo, prestando assessoria remota.
          </p>
        </div>
      </div>
    </div>

    <div class="servico-bloco">
      <h3>Quer comprar?</h3>
      <div class="cards">
        <div class="card">
          <h4>Assessoria Completa de Compra</h4>
          <p>
            Da análise de seu perfil à entrega do veículo, um serviço completo
            para que você não tenha de se preocupar com nada.
          </p>
        </div>

        <div class="card">
          <h4>Assessoria Parcial de Compra</h4>
          <p>
            Para quem já sabe qual veículo quer e com quais características,
            buscamos até 3 opções após avaliarmos completamente documentação e
            veículo.
          </p>
        </div>
      </div>
    </div>

    <div class="servico-bloco">
      <h3>Precisa de ajuda?</h3>
      <div class="cards">
        <div class="card">
          <h4>Assessoria Pré-Compra</h4>
          <p>
            Para quem já encontrou o veículo desejado mas precisa de alguém de
            confiança para uma avaliação completa.
          </p>
        </div>

        <div class="card">
          <h4>Assessoria de Decisão</h4>
          <p>
            Traçamos seu “Perfil Automotivo” para auxiliá-lo na busca pelo carro
            ideal para você!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

