<section class="hero-section">
  <div class="overlay"></div>

  <div class="hero-content">
    <h1>Encontre seu carro <span class="theme-color">Perfeito</span></h1>

    <div class="search-bar">
      <!-- Make selector -->
      <select #make (change)="selectMaker($event)" name="make" id="make">
        <option selected>Todos Fabricantes</option>
        <option *ngFor="let maker of makers">{{ maker.name }}</option>
      </select>

      <!-- Model selector -->
      <select
        #model
        (change)="selectModel($event)"
        [disabled]="models.length === 0"
      >
        <option selected>Todos Modelos</option>
        <option *ngFor="let car of models">{{ car.model }}</option>
      </select>

      <div class="price-slider">
        <label for="priceRange">Valor Máximo</label>
        <input
          type="range"
          id="priceRange"
          [(ngModel)]="maxPrice"
          [min]="10000"
          [max]="2000000"
          [step]="5000"
        />
        <div *ngIf="maxPrice < 2000000; else todos_valores" id="priceValue">
          R${{ maxPrice | number : "1.0-0" }}
        </div>
        <ng-template #todos_valores>
          <div id="priceValue">Todos Valores</div>
        </ng-template>
      </div>

      <!--p-button
        icon="pi pi-search"
        styleClass="p-button-rounded"
        severity="info"
        [disabled]="false"
        (click)="onSearch()"
      ></p-button-->
    </div>
  </div>
</section>
